*
{
    margin: 0;
    padding: 0;
}

html
{
    background: #1e1a20;
}

.webgl
{
    /* display: none; */
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    transition: opacity 1s ease; 
}


.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
}

section:nth-child(odd)
{
    justify-content: flex-end;
}
/* Center the Lottie animation and loading screen */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; /* Set the background color */
    z-index: 9999;
    transition: opacity 0.5s ease; /* For smooth fading effect */
}

/* Center the Lottie animation container */
#lottie-container {
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hide content initially until the loading screen disappears */
#content {
    display: none;
}

/* Fade-out animation */
.fade-out {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
}
.fade-in {
    opacity: 1;
    pointer-events: none;
    transition: opacity 1s ease;
}