*
{
    margin: 0;
    padding: 0;
}

html
{
    background: #1e1e1e;
}

.webgl
{
    /* display: none; */
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    transition: opacity 1s ease; 
}


.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
}

section:nth-child(odd)
{
    justify-content: flex-end;
}
/* Center the Lottie animation and loading screen */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; /* Set the background color */
    z-index: 9999;
    transition: opacity 0.5s ease; /* For smooth fading effect */
}

/* Center the Lottie animation container */
#lottie-container {
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hide content initially until the loading screen disappears */
#content {
    display: none;
}

/* Fade-out animation */
.fade-out {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
}
.fade-in {
    opacity: 1;
    pointer-events: none;
    transition: opacity 1s ease;
}
/* Styling the Go Up button */
.go-up-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent; /* You can choose the color */
    color: white;
    padding: 15px;
    border: none;
    border-radius: 50%; /* Make the button round */
    cursor: pointer;
    font-size: 18px;
    opacity: 0.5; /* Button opacity */
    visibility: hidden; /* Hidden by default */
    transition: opacity 0.3s ease, visibility 0s 0.3s; /* Smooth fade out and visibility delay */
    pointer-events: none;
}

/* Make button visible when scrolled down */
.go-up-btn.visible {
    visibility: visible;
    opacity: 0.75;
    pointer-events: auto; /* Enable interaction when visible */
    transition: opacity 0.3s ease, visibility 0s; /* Instant visibility change */
}
/* Mobile responsive: Make the button larger on mobile for easier tapping */
@media (max-width: 600px) {
    .go-up-btn {
        padding: 0px; /* Larger padding for mobile */
    }
    .go-up-btn svg {
        width: 50px; /* Larger SVG icon on mobile */
        height: 50px;
    }
}

/* Styling the SVG icon inside the button */
.go-up-btn svg {
    width: 75px; /* Adjust size of the SVG */
    height: 75px;
    fill: white; /* Color of the SVG */
    stroke: rgb(22, 23, 23); /* Stroke color */
    stroke-width: 2; /* Line thickness */
}

/* Optional: Hover effect */
.go-up-btn:hover {
    opacity: 1; /* Full opacity when hovered */
    transform: scale(1.05);
}

/* Optional: Style the button when clicked */
.go-up-btn:active {
    transform: scale(0.98); /* Slightly shrink button when clicked */
}